.contact{
  padding: 3rem;
}

.contact h3{
    margin-bottom: 0rem;
}



.doctorImage{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}


.contactForms{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.contactForms a{
    color:#1E3A8A
}


.contactForms iframe{
     width: 35vw;
  height: 100%;
  border: 0;
  border-radius: 8px;
}

@media (max-width: 1280px) {
  .contactForms iframe{
     width: 90vw;
}
}


@media (max-width: 500px) {
  .contact{
    padding: 1rem; 
  }
}

