.grid {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}
.card h4 {
  margin-top: 0.75rem;
}

.services{
    padding: 3rem;
}


@media (max-width: 500px) {
  .services{
    padding: 1rem; 
  }
}