.testimonials {
  padding: 3rem;

}

.embla {
  position: relative;
  max-width: 1000px;
  margin: 2rem auto;
}

.emblaViewport {
  overflow: hidden;
  width: 100%;
}

.emblaContainer {
  display: flex;
}

.emblaSlide {
  flex: 0 0 33.333%; /* 3 slides visible on desktop */
  padding: 1rem;
  box-sizing: border-box;
}

.emblaSlide a{
  color: #1E3A8A;
}


.emblaSlide img{
   width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}


@media (max-width: 768px) {
  .emblaSlide {
    flex: 0 0 100%; /* 1 slide on mobile */
  }
}

.testimonialCard {
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 10px;
  background: #fff;
  font-style: italic;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}


.prevBtn, .nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1E3A8A;
  color: #F9FAFB;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2;
  transition: background 0.3s ease;
}

.prevBtn:hover, .nextBtn:hover {
  background: white;
  color: #1F2937;
  border: 1px solid #1F2937;
}

.prevBtn {
  left: -15px;
}

.nextBtn {
  right: -15px;
}



@media (max-width: 500px) {
  .testimonials{
    padding: 1rem; 
  }
  .prevBtn {
  left: -5px;
}

.nextBtn {
  right: -5px;
}
}