body {
  background-color: #F9FAFB;
  color: #1F2937;
    margin: 0px;
}
h1,h2{
 color: #1E3A8A;
 font-family: var(--font-poppins), sans-serif;
}

p,span,a,button,h3,h4,h5,h6{
    font-family: var(--font-montserrat), sans-serif;
}
